
.Header {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 110px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}


/* Small tablet to big tablet: from 768px to 991px*/
@media only screen and (max-width: 991px) {
    .Header { 
        margin-top: 20px;
        margin-bottom: 50px;
        padding-right: 20px;
        padding-left: 20px;
        max-width: 728px;
    }
  
  }
  
  
  /* Small phones to small tablets: from 481px to 767px*/
  @media only screen and (max-width: 767px) {
    .Header { 
        margin-top: 20px;
        margin-bottom: 50px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
  }
  
  
  /* Small phones: from 0 to 480px*/
  @media only screen and (max-width: 480px) {
    .Header { 
        margin-top: 10px;
        margin-bottom: 41px;
        max-width: none;
    }
    
  }
    